<main class="relative w-full h-[25rem]">
    <figure class="relative w-full h-[25rem]">
        <img src="/src/assets/banner.svg" class="w-full h-full object-cover" alt="Banner" />
        <div class="absolute inset-0 bg-gradient-to-b from-gray-100 to-gray-700 opacity-75"></div>
    </figure>
    <div class="absolute inset-0 bg-gradient-to-t from-main_dark-400 to-transparent opacity-70"></div>
    
    <!-- Buscador centrado -->
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="relative w-3/4 max-w-xl">
            <input 
                type="text" 
                placeholder="Empezar a buscar..." 
                class="w-full p-4 pr-16 text-black rounded-[1rem] focus:outline-none" 
            />
            <button 
                class="absolute top-0 right-0 h-full px-6 text-white bg-main-900 rounded-r-[1rem] rounded-l-none hover:bg-main-800 focus:outline-none">
                Buscar
            </button>
        </div>
    </div>
</main>