---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/astro/landing/navbar/Navbar.astro';
import ContactForm from '../components/react/contact/Contact.jsx';
import Footer from '../components/astro/footer/Footer.astro';
---

<Layout title="Contacto">
    <Navbar />
    <div class="min-h-screen flex flex-col justify-between bg-gray-200">
        <div class="flex-grow flex items-center justify-center">
            <ContactForm client:only />
        </div>
        <Footer />
    </div>
</Layout>
