---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/astro/landing/Navbar.astro';
import ProductCard from '../components/react/Card.jsx';
---

<Layout title="Inicio">
	<Navbar />
	<div class="container mx-auto p-6">
	<h1 class="text-2xl font-bold text-center text-green-800 mt-8 pb-8">Sugerencias</h1>
	
		<ProductCard client:only />
	</div>
</Layout>
