---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/astro/navbar/Navbar.astro';
import LoginComponent from '../components/react/login/Login.jsx';
import Footer from '../components/astro/footer/Footer.astro';

/*Importo los estilos en el componente para que se sepa que son de este componente*/
import "../components/react/login/login.css"
---

<Layout title="Login">
    <div class=" mx-auto bg-gray-200 min-h-screen flex items-center justify-center">
        <LoginComponent client:only/>
    </div>
</Layout>