.hover-blue:hover {
    color: blue;
}

.sm\\:hidden {
    display: none;
}

@media (min-width: 640px) {
    .sm\\:flex {
        display: flex;
    }
    .sm\\:hidden {
        display: none;
    }
}
