.log-container {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--st-neutral-color);
    border-radius: 1rem;
    box-shadow: 0 2px 2px 3px var(--st-secondary-color);
    overflow: hidden;
    width: 48rem;
    max-width: 100%;
    max-height: 100%;
    min-height: 36rem;
    margin-top: 2.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.log-container h1 {
    font-size: clamp(1.2rem, 4vw, 1.875rem);
    color: var(--header-bg-color);
}

.log-container p{
    font-size: clamp(0.8rem, 1.8vw, 1.3rem);
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    margin: 1rem 0;
    line-height: 1.5;
}

.log-container span{
    font-size: clamp(0.8rem, 1.8vw, 0.938rem);
    color: var(--nd-neutral-color);
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

.log-container a {
    color: var(--nd-neutral-color);
    font-size: clamp(0.8rem, 1.8vw, 0.938rem);
    text-decoration: none;
    margin: 0.938rem 0 0.625rem;
}

.login-btn{
    position: relative;
    width: clamp(100%, 20vw, 8.75rem);
    height: 2.813rem;
    font-size: clamp(0.8rem, 1.8vw, 0.938rem);
    outline: none;
    z-index: 1;
    overflow: hidden;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0.625rem;
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.1s ease;
}

.login-btn::before {
    content: "";
    position: absolute;
    top: -80%;
    left: 0;
    width: 100%;
    height: 300%;
    z-index: -1;
    transition: all 250ms;
}

.log-container form{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 100%;
}

.login-btn:active {
    transform: scale(0.95); 
    transition: transform 100ms; 
}

.log-container input{
    border: 1px solid var(--nd-secondary-color);
    margin: 0.5rem 0;
    padding: 0.625rem 0.938rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
}



.log-container input:hover{
    border: 1px solid var(--nd-secondary-color);
    background: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.sign-in{
    opacity: 0;
    left: 0;
    width: 50%;
    z-index: 2;
    transform: translateX(100%);
    transition: opacity 700ms, transform 500ms;
}

.log-container.show-sign-in .sign-in{
    opacity: 1;
    transform: translateX(0%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
}

.log-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.1s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.sign-up input {
    filter: brightness(1.1) !important;
}

.social-icons {
    margin: 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons .icon{
    border: 2px solid var(--nd-secondary-color);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.375rem;
    color: var(--header-bg-color);
    filter: brightness(1.4);
    background-color: var(--st-neutral-color);
    cursor: pointer;
}

.social-icons .icon:hover{
    color: var(--st-neutral-color);
    background: var(--nd-secondary-color);
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;

    z-index: 1000;
}

.log-container.active .toggle-container{
    transform: translateX(-100%);
}


.form-container.sign-up {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    /*padding: 0 2.5rem;*/ /*Estas dos propiedades estaban haciendo que se viera menos alargado*/
    height: 100%;
    transition: transform 0.3s ease;
}



.toggle{
    height: 100%;
    background: var(--main-900);
    color:var(--st-neutral-color);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    
}

.log-container.active .toggle{
    transform: translateX(50%);
}

.toggle h1 {
    color: var(--st-neutral-color);
    margin: 1.25rem 0;
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.875rem;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.log-container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.log-container.active .toggle-right{
    transform: translateX(200%);
}

.toggle-btn{
    margin: 1rem;
}

.iniciar-sesion {
    display: none;
}
.registrarse,
.iniciar-sesion {
    display: none;
    padding: 1rem 1.3rem;
    cursor: pointer;
    font-size: clamp(0.9rem, 1.8vw, 0.938rem);
    font-weight: bold;
    margin: 0.5rem;
}
.registrarse:hover,
.iniciar-sesion:hover {
    filter: brightness(1.2);
}

/* *Estilos de responsividad */
@media screen and (max-width: 768px) {
    .log-container {
        width: 90%; 
        margin-top: 3rem;
        left: 45%;
        min-height: 35rem;
    }
    .log-container h1 {
        margin-top: 1rem;
    }
    .iniciar-sesion {
        display: block;
    }
    .registrarse {
        display: block;
    }
    .sign-in {
        width: 100%;
    }

    .form-container.sign-up {
        display: inline;
        align-content: stretch;
    }

    .sign-up {
        display: none;
    }
    .log-container.active .sign-up {
        transform: none;
        width: 100%;
    }
    .log-container form {
        box-shadow: none;
    }

    .log-container input{
        border: 1px solid var(--header-bg-color);
    }

    .toggle-panel {
        display: none;
    }
    .toggle {
        background-color: transparent;
    }
}
